<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table" *ngIf="alumnos.length">
                <thead class="text-center">
                    <tr>
                        <th>
                            <button class="btn btn-primary">Mostrar imagen</button>
                        </th>
                        <th>Matricula</th>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Correo</th>
                        <th>Pago</th>
                        <th>Foto</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let alumno of alumnos">
                        <td> {{alumno.matricula}} </td>
                        <td> {{alumno.nombre | uppercase}} </td>
                        <td> {{alumno.edad}} </td>
                        <td> {{alumno.correo}} </td>
                        <td> {{alumno.pago| currency}} </td>
                        <td><img [src]="alumno.foto"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
